@font-face{
  font-family: abster;
  src:url(font/abster-webfont.woff) format('woff');
}

@font-face {
  font-family: 'SDSamliphopangche_Outline';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100vh;
  background: url(images/image.jpg);
}

.container .header{
  width: 80%;
  height: 80px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .header h1 a{
  text-decoration:  none;
  color: white;
  font-family: abster;
}


.container .nav #stopwatch{
  position: absolute;
  right: 1500px;
  top: 400px;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: red;
  color: white;
  font-family: 'SDSamliphopangche_Outline';
  font-size: 20px;
}

.container .nav #stopwatch:hover{
  background-color: green;
  color: white;
}

.container .nav #lotto {
  position: absolute;
  right: 1300px;
  top: 400px;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: yellow;
  color: black;
  font-family: 'SDSamliphopangche_Outline';
  font-size: 20px;
}

.container .nav #lotto:hover {
  background-color: blue;
  color: white;
}


.container .nav #analogwatch {
  position: absolute;
  right: 900px;
  top: 400px;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  font-family: 'SDSamliphopangche_Outline';
  font-size: 20px;
}

.container .nav #analogwatch:hover {
  background-color: black;
  color: white;
  
}

.container .nav #scroll {
  position: absolute;
  right: 1100px;
  top: 400px;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: blue;
  color: white;
  font-family: 'SDSamliphopangche_Outline';
  font-size: 20px;
}

.container .nav #scroll:hover {
  background-color: white;
  color: black;

}
